<% if todo_item.completed? %>

  <li class="list-group-item" style="opacity: 0.5">

    <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
      <strike class="mr-4 text-secondary">
        <%= icon('fas', 'check') %> <%= todo_item.content %>
      </strike>
    <% end %>
    <%= link_to icon('fas', 'times text-danger'), todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>

<% else %>

  <li class="list-group-item">
    <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, class: 'text-info' do %>
      <%= icon('fas', 'check') %> <%= todo_item.content %>
    <% end %>
    <%= link_to icon('fas', 'times ml-4 text-danger'), todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>

<% end %>
