<p id="notice"><%= notice %></p>

<%= link_to icon('fas', 'plus', 'New Todo List'), new_todo_list_path, class: 'btn btn-outline-dark btn-lg mb-5' %>


<div class="row">
  <% @todo_lists.each do |todo_list| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= todo_list.title %></h2>
          <p class="card-text"><%= todo_list.description %></p>
        </div>
        <div class="card-footer bg-transparent d-flex justify-content-between">
          <%= link_to icon('fas', 'eye', 'Show'), todo_list, class: 'text-body' %>
          <%= link_to icon('fas', 'edit', 'Edit'), edit_todo_list_path(todo_list), class: 'text-body' %>
          <%= link_to icon('fas', 'trash', 'Destroy'), todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-body' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to icon('fas', 'plus', 'New Todo List'), new_todo_list_path, class: 'btn btn-outline-dark btn-lg mt-5' %>
